@media screen and (min-width: 320px) {
  nav ul {
    margin: 0.2rem;
  }
  
  nav li {
    list-style-type: none;
  }

  nav a {
    text-decoration: none;
  }
  
  header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    min-height: 3rem;
  }

  #logo {
    border-left: 1px solid black;
    border-right: 1px solid black;
    flex-grow: 1;
    margin: 0 auto;
    min-height: 3rem;
    position: relative;
  }

  #logo img {
    display: block;
    max-width: 4.6rem;
    min-height: 2rem;
    /* 가운데 정렬 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .gnb-btn, .side-menu {
    padding-right: 1rem;
    min-width: 5.5rem;
  }

  .gnb-btn span {
    /* display: block; */
    margin: 0 3vw;
    width: 1rem;
    height: 2rem;
    background: linear-gradient(#000 20%, transparent 20%);
    background-size: 100% 0.4rem;
  }

  .gnb-btn a {
    color: transparent;
    font-size: 0.3rem;
  }

  #gnb {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  #gnb.active {
    display: block;
  }
  
  #gnb > ul {
    margin: 0;
    padding: 0;
    width: 19rem;
    background-color: #f1f2e1;
    height: 100%;
    padding-top: 4rem;
  }

  #gnb li a {
    display: block;
    padding: 1rem;
    font-size: 1rem;
  }

  #gnb .top-level {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #gnb .open-btn {
    width: 1.5rem;
    height: 1.5rem;
    padding-right: 1rem;
  }

  #gnb .open-btn img {
    width: 100%;
    transform: rotate(-90deg);
    transition: transform 0.5s;
  }

  #gnb input[type="checkbox"] {
    display: none;
  }

  #gnb input[type="checkbox"]:checked ~ .top-level label img {
    transform: rotate(90deg);
    transition: transform 0.5s;
  }

  #gnb .sub-menu {
    /* display: none; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  #gnb input[type="checkbox"]:checked ~ .sub-menu {
    /* display: block; */
    max-height: 500px;
  }

  #gnb .sub-menu ul {
    padding-left: 2rem;
  }

  #gnb .sub-menu li a {
    padding: 0.5rem;
  }

  #gnb .close-btn {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 2rem;
    left: 20rem;
    color: transparent;
  }

  #gnb .close-btn::before, #gnb .close-btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1rem;
    background-color: #fff;
    transform-origin: center;
  }

  #gnb .close-btn::before {
    transform: rotate(45deg);
  }
  
  #gnb .close-btn::after {
    transform: rotate(-45deg);
  }
}

@media screen and (min-width:1024px){

header .header-container {
    display: flex;
    border-bottom: 1px solid black;
    min-height: 5rem;
    
}

#logo {
  border-left: 1px solid #f1f2e1;
  border-right: 1px solid #f1f2e1;
}

#logo img {
  display: block;
  max-width: 10rem;
  height: 3.5rem;
  /* 가운데 정렬 */
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(-80%, -50%);
}

.gnb-btn span{
  visibility: hidden;
}

#gnb{
  display:flex;
  position: static;
  width: 70%;
  background-color: rgba(0, 0, 0, 0);
  border-right:1px solid black;
  border-left:1px solid black;
}

#gnb ul {
  margin: 2px;
  padding: 2px;
  display:flex;
  justify-content: space-around;
}

#gnb ul li{
  list-style: none;
}

#gnb ul li a{
  font-size: 1rem;
  font-weight: bold;
  padding:20px;
  color:black;
}

#gnb a:hover{
  color:silver;
  border-bottom: black;
}

.side-menu a:hover{
  color:silver;
}

#gnb .close-btn::before, #gnb .close-btn::after {
  position:static;
}

.side-menu ul{
  padding-right:20px;
}

.side-menu a{
  font-weight: bold;
  color:black;
}
  
  
  #gnb .open-btn {
    display: none;
  }

  #gnb .sub-menu {
    display: none;
  }
}