.logo img{
    display: block;
    max-width:74px;
    height: 30px;
    /* margin-top:3px; */
}

header div.nav_logo{
    border-right: 1px solid black;
    border-left:1px solid black;
    padding: 3px 0;

}
 

.main_menu{
    display: block;
    margin-top:1vh;
    margin-right: 1vw;; 
    width:20px;
    height: 30px;
    color: transparent;
    background:linear-gradient(black 20%, transparent 20%);
    background-size:100% 10px;
}


nav.menu{
    /* display:none;  => a태그의 배치를 지정하고 display none하기*/
    display:none;
    position: absolute;
    top: 0;
    bottom:0;
    width: 85vw;
    background-color: #f1f2e1;

}

nav.menu ul{
    margin-top: 60px;
}
nav.menu ul li{
    list-style: none;
}

nav.menu li a{
    display:block;
    padding: 3vh 5vw;
    font-size:1rem;
    border-bottom:1px solid #fff;
    text-decoration: none;
    color:black;
}

nav.menu_side ul {
    margin:2px;
}

nav.menu_side li{
    list-style: none;
}

nav.menu_side li a{
    text-decoration: none;
}

header{
    /* border:1px solid red; */
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin:0 ;
    padding:10px; */
    height: 5vh;
    /* border-bottom: 2px solid black; */
}