@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'omyu_pretty';
    background-color: #f1f2e1;;
}
html, body {
    height: 100%
}

@media screen and (min-width:320px),
sreen and (min-height:320px) and (orientation:landscape) {
    .hide{
        display: none;
    }
    .wrap{
        min-width:100%;
        position: relative; 
    }
    .footer-wrap{
        bottom: 0;
        position: absolute;
        height: 10rem;
        
    }
    
    section{
        height: 90%;
    }
    .line{
        border: 0.5px solid rgb(14, 0, 0);
    }
    .wrap article p{
        margin-bottom: 20px;
    }
    article{
        padding: 20px 10px;
    }
    article h3, article p{
        font-weight:normal;
        margin-bottom: 40px;
        font-size: 0.5rem;
    }
    
    .tag hr{
        display: inline-block;
        width: 100px;
        margin-left: 50px;
        background-color: rgb(0, 0, 0);
        border: 1px solid black;
        position: relative;
        top: 5px;
    }
    .tag h3{
        display: inline-block;
    }
    li{
        list-style: none;
    }
    section li img{
        width: 90vw;
        margin: 0 auto;
        display: block;
        position: relative;
    }
    section ul{
        padding: 0;
    }
    section li{
        margin-bottom: 2vh;
    }
    section p{
        text-align: center;
        font-size: 0.7rem;
        margin: 0px;
    }
    .p_wrap{
        margin: 1vh;
    }
    .wrap_head nav{
        display: none;
    }
    section{
        padding:0;
    }


}

@media screen and (min-width:768px),
sreen and (min-height:768px) and (orientation:landscape) {

    section ul {
       
        display: inline-block;
        padding: 0;
        padding-left: 60px;
        margin: 0 auto;
    }
    section li{
        width: calc(33.3333% - 2vh);
        display: inline-block;
        padding: 0 5px;
    }
    section li img{
        width: 100%;
    }
    section{
        padding-top: 20px;
    }
    section{
        padding:30px 50px;
    }

}


@media screen and (min-width:1024px),
sreen and (min-height:1024px) and (orientation:landscape){
    section{
        padding:30px 200px;
    }
    section a{
        margin: 0;
        padding: 0;
    }
    .wrap_head nav{
        display: block;
        margin-right: 30px;
    }
    .wrap_head{
        display: flex;
        justify-content: space-between;
        align-items:first baseline;
    }
    .wrap_head ul{
        display: flex;
    }
    .wrap_head ul li{
        padding: 10px;
        font-size: 1.5rem;
    }
    article h3{
        font-size: 1.5rem;
    }
    article p{
        font-size: 1rem;
    }
    article{
        position: relative;
    }
    article h3{
        font-weight: bold;
    }
    a{
        text-decoration: none;
        color: rgb(105, 105, 105);
        margin:0px 5px ;
    }
    .wrap_head a:hover{
        border-bottom:2px solid black ;
        color: black;
    }
    section p{
        font-size: 0.9rem;
    }
    .object_name{
        font-weight: bold;
    }
    .wrap_head{
        padding: 20px;
        margin-bottom: 60px;
    }

    

}