@media screen and (min-width:320px),
sreen and (min-height:320px) and (orientation:landscape) {
    body{
        background-color: rgb(255, 255, 246);
    }
    
    .line{
        border: 0.5px solid gray;
    }
    .wrap article p{
        margin-bottom: 20px;
    }
    article{
        padding: 20px 10px;
    }
    article h3, article p{
        font-weight:normal;
        margin-bottom: 40px;
        font-size: 0.5rem;
    }
    
    .tag hr{
        display: inline-block;
        width: 100px;
        margin-left: 50px;
        background-color: black;
        position: relative;
        top: 5px;
    }
    .tag h3{
        display: inline-block;
    }
    li{
        list-style: none;
    }
    section li img{
        width: 90vw;
        margin: 0 auto;
        display: block;
        position: relative;
    }
    section ul{
        padding: 0;
    }
    section li{
        margin-bottom: 2vh;
    }
    section p{
        text-align: center;
        font-size: 0.7rem;
        margin: 0px;
    }
    .p_wrap{
        margin: 1vh;
    }
    .wrap_head nav{
        display: none;
    }
    .hover_img{
        position: absolute;
    }
}

@media screen and (min-width:768px),
sreen and (min-height:768px) and (orientation:landscape) {

    section ul {
       
        display: inline-block;
        padding: 0;
        padding-left: 60px;
        margin: 0 auto;
    }
    section li{
        width: calc(33.3333% - 2vh);
        display: inline-block;
    }
    section li img{
        width: 100%;
    }
    section{
        padding-top: 20px;
    }

}


@media screen and (min-width:1024px),
sreen and (min-height:1024px) and (orientation:landscape){
  
    .wrap_head nav{
        display: block;
        margin-right: 30px;
    }
    .wrap_head{
        display: flex;
        justify-content: space-between;
        align-items:first baseline;
    }
    .wrap_head ul{
        display: flex;
    }
    .wrap_head ul li{
        padding: 10px;
        font-size: 1.5rem;
    }
    article h3{
        font-size: 1.5rem;
    }
    article p{
        font-size: 1rem;
    }
    article{
        position: relative;
    }
    article h3{
        font-weight: bold;
    }
    a{
        text-decoration: none;
        color: rgb(105, 105, 105);
        margin:0px 5px ;
    }
    .wrap_head a:hover{
        border-bottom:2px solid black ;
        color: black;
    }
    section p{
        font-size: 1rem;
    }
    .object_name{
        font-weight: bold;
    }
    .wrap_head{
        padding: 20px;
        margin-bottom: 60px;
    }
    section img:hover{
        background-color: black;
        /* background-image: url('https://cdn.imweb.me/thumbnail/20221220/605388e671e74.jpg'); */
    }
}