@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* desktop */
@media screen and (min-width:1024px) {
    /* body */
    body {
        font-family: 'omyu_pretty';
        margin: 0;
        padding: 0;
        color: black;
        background-color: #f1f2e1;
    }

    /* 상단 main wrap */
    #mainwrap {
        width: 1000px;
        height: 290px;
        margin: auto;
        padding-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* margin: 0px 10vw; */
    }

    /* 상단 main section */
    #mainwrap section {
        /* display: inline-block; */
        margin-top: 0;
        width: 50%;
    }
    .fadeIn {
        opacity: 0;
        transition: opacity 1s;
    }
    /* 상단 main nav */
    .mainnav {
        width: 45%;
    }
    .mainnav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
    }
    .mainnav a {
        text-decoration: none;
        color: black;
    }

    a.underline {
        font-weight: bold;
        text-decoration: underline;
        text-underline-offset: 5px;
    }

    /* img contents */
    .workcontent {
        width: 1000px;
        margin: auto;
        padding: 0;
        padding-bottom: 30px;
    }
    .workcontent ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

    }
    .workcontent ul li {
        width: 47.5%;
        list-style: none;
        display: inline-block;
        padding: 0px;
        padding-top: 2vh;
    }
    .workcontent ul li a{
        list-style: none;
    }
    .imgcon{
        position: relative;
        display: inline-block;
        opacity: 1;
    }
    .imgcon:hover {
        opacity: 0.5;
    }
    .imgtxt {
        width: 90%;
        position: absolute;
        top: 20%;
        left: 5%;
        opacity: 0;
        color: white;
        font-weight: bold;
    }
    .imgcon:hover > .imgtxt {
        opacity: 1;
    }

    /* img */
    .image {
        position: relative;
        width: 475px;
        height: 600px;
        opacity: 0;
        transform: translateY(80px);
        transition: opacity 1s, transform 1.5s;
    }

    /* 구분선 */
    .line {
        margin: 1vh 0;
        border: 0.5px solid black;
    }    
}

/* tablet */
@media screen and (min-width:768px) and (max-width:1023px){
    /* body */
    body {
        font-family: 'omyu_pretty';
        margin: 0;
        padding: 0;
        color: black;
        background-color: #f1f2e1;
        overflow-y: scroll;
    }

    /* 상단 main wrap */
    #mainwrap {
        margin: 20px;
        padding-bottom: 50px;
        padding-top: 20px;
        /* display: flex;
        flex-direction: row;
        justify-content: space-between; */
    }
    /* 상단 main section */
    /* #mainwrap section {
        width: 50%;
    } */
    .fadeIn {
        opacity: 0;
        transition: opacity 1s;
    }
    /* 상단 main nav */
    .mainnav {
        /* width: 40%; */
        display: none;
    }
    /* .mainnav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
    }
    .mainnav a {
        text-decoration: none;
        color: black;
    } */

    /* img contents */
    .workcontent {
        width: 90%;
        margin: auto;
        padding: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .workcontent ul {
        /* display: block; */
        /* flex-direction: row; */
        /* justify-content: space-between; */
        /* flex-wrap: wrap; */
        margin: 0;
        padding: 0;
    }
    .workcontent ul li {
        margin-top: 10px;
        list-style: none;
        display: block;
        /* padding: 0px; */
        /* padding-top: 2vh; */
    }
    /* .workcontent ul li a{
        list-style: none;
    } */

    .imgcon {
        /* display: inline; */
        /* position: relative; */
    }
    .imgcon:hover {
        opacity: 0.5;
    }
    .imgtxt {
        /* position: absolute; */
        position: relative;
        width: 30vw;
        height: 1vh;
        top: -50em;
        left: 5vw;
        opacity: 0;
        color: white;
        font-weight: bold;
    }
    .imgcon:hover > .imgtxt {
        opacity: 1;
    }

    /* img */
    .image {
        position: relative;
        width: 100%;
        opacity: 0;
        transform: translateY(80px);
        transition: opacity 1s, transform 1.5s;
    }

    /* 구분선 */
    .line {
        margin: 1vh 0;
        border: 0.5px solid black;
    }
}

/* mobile */
@media screen and (min-width:320px) and (max-width:767px) {
    /* body */
    body {
        font-family: 'omyu_pretty';
        margin: 0;
        padding: 0;
        color: black;
        background-color: #f1f2e1;
        overflow-y: scroll;
    }

    /* 상단 main wrap */
    #mainwrap {
        margin: 20px;
        padding-bottom: 50px;
        padding-top: 20px;
        /* display: flex;
        flex-direction: row;
        justify-content: space-between; */
    }
    /* 상단 main section */
    /* #mainwrap section {
        width: 50%;
    } */
    .fadeIn {
        opacity: 0;
        transition: opacity 1s;
        font-size: 1.2rem;
    }
    /* 상단 main nav */
    .mainnav {
        /* width: 40%; */
        display: none;
    }
    /* .mainnav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
    }
    .mainnav a {
        text-decoration: none;
        color: black;
    } */

    /* img contents */
    .workcontent {
        width: 90%;
        margin: auto;
        padding: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .workcontent ul {
        /* display: block; */
        /* flex-direction: row; */
        /* justify-content: space-between; */
        /* flex-wrap: wrap; */
        margin: 0;
        padding: 0;
    }
    .workcontent ul li {
        margin-top: 10px;
        list-style: none;
        display: block;
        /* padding: 0px; */
        /* padding-top: 2vh; */
    }
    /* .workcontent ul li a{
        list-style: none;
    } */

    .imgcon {
        /* display: inline; */
        /* position: relative; */
    }
    .imgcon:hover {
        /* opacity: 0.5; */
    }
    .imgtxt {
        display: none;
        /* position: relative;
        width: 30vw;
        height: 1vh;
        top: -30vh;
        left: 5vw;
        opacity: 0;
        color: white;
        font-weight: bold; */
    }
    /* .imgcon:hover > .imgtxt {
        opacity: 1;
    } */

    /* img */
    .image {
        position: relative;
        width: 100%;
        opacity: 0;
        transform: translateY(80px);
        transition: opacity 1s, transform 1.5s;
    }

    /* 구분선 */
    .line {
        margin: 1vh 0;
        border: 0.5px solid black;
    }
}
